{% extends 'base.html.twig' %}
{% block stylesheets %}{% endblock %}
{% block title %}
    Conditions générales -
        	
        
    {{ parent() }}
{% endblock %}
{% block body %}
    <section>
        <h3>
            1 – Préambule et contacts
        </h3>
        <p>
            Merci de bien vouloir lire attentivement l'intégralité des présentes Conditions Générales d'Utilisation avant de consulter le site de partage www.fraisetlocal.fr. Tout Utilisateur du site de partage reconnaît souscrire sans réserve aux présentes Conditions Générales d'Utilisation et s'engage à respecter l'ensemble des stipulations exposées ci-après.
            
                Le gestionnaire du site de partage est la Ministère de l’Agriculture et de l’Alimentation
                        
            </p>
            <p>
                Pour toute question relative au fonctionnement du site de partage et aux présentes Conditions Générales d'Utilisation, n'hésitez pas à contacter le gestionnaire du site de partage : 
                </p>
                <p>
                    Si vous êtes utilisateur du site de partage : relation-utilisateurs@agriculture.gouv.fr. 
                    </p>
                    <p>
                        Si vous êtes le responsable d’une plateforme de présentation de producteurs ou de point de vente, déjà partenaire ou envisageant du devenir : relation-plateforme@agriculture.gouv.fr 
                       </p>
                        <p>
                            Contact du Délégué à la Protection des Données du gestionnaire du site de partage : dpo@agriculture.gouv.fr.
                                
                        </p>
                    </p>
                </p>
            </p>
            <h3>
           2 – Objet
        </h3>
        <p>Les présentes Conditions Générales d'Utilisation ont pour objet de définir les conditions d'accès et d'utilisation du site de partage permettant la mise en visibilité des producteurs et points de vente directe adhérents des plateformes partenaires, disponible à l'adresse suivante : www.locoloco.fr.</p>
       <h3>
    3– Acceptation et opposabilité
    </h3>
    <p>A la date de la première utilisation du site de partage par l'Utilisateur, les Conditions Générales d'Utilisation sont réputées lues et applicables.</p>
    <h3>4 – Modifications des Conditions Générales d'Utilisation</h3>   
        
    </section>
    {% endblock %}
    