{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/homepage.css') }}">
{% endblock %}

{% block title %}
    Acceuil - {{ parent() }}
{% endblock %}

{% block body %}


{# === HERO START === #}
<section class="hero">
    <div class="hero_text-content">
        <p class="hero_toptitle">Bienvenue sur</p>
        <h1>Loco Loco</h1>
        <p class="hero_text">Retrouvez tous les produits locaux & frais proche de chez vous !</p>
        <p class="hero_text"><i class="fas fa-arrow-circle-down"></i></p> 
    </div>
</section>
{# === HERO END === #}

{# === SEARCHBAR START === #}
    {# Créer un composant SEARCHBAR #}
{# === SEARCHBAR END === #}

{# === ABOUT US START === #}
<section class="about">
    <div class="about_content">
        <h2>Que faisons nous ?</h2>
        <p>
            Lorem ipsum dolor sit amet, 
            consectetur adipisicing elit. Laborum nostrum dolorem aut vitae 
            tempora commodi assumenda ad minus, id facere excepturi sapiente,
            repudiandae, illum maiores mollitia impedit? Deserunt nemo, nostrum
            fugit necessitatibus laboriosam ea aperiam itaque ipsum fuga explicabo.
            Vero dolores ab laudantium ex saepe beatae fuga culpa tempore nobis est 
        </p>
        <div class="deco-icons">
            <i class="fas fa-apple-alt"></i>
            <i class="fas fa-carrot"></i>
        </div>
    </div>
</section>
{# === ABOUT US END === #}

{# === SHOW PRODUCTS START === #}
{# === SHOW PRODUCTS END === #}

{# === RATING START === #}
{# === RATING END === #}

{# === NEWSLETTER START === #}
{# === NEWSLETTER END === #}

{% endblock %} 