{% extends 'base.html.twig' %}

{% block title %}Loco Loco{% endblock %}

{% block body %}

{# Présentation d'exemple à commenter si besoin #}
<div class="main-container">

    <p class="bold home-title">Loco Loco</p>

    <div>
        <i class="fa-solid fa-user"></i>
        <i class="fas fa-map-marked-alt"></i>
        <i class="fas fa-map-marker-alt"></i>
        <i class="fas fa-people-arrows"></i>
        <i class="fas fa-apple-alt"></i>
        <i class="fas fa-carrot"></i>
        <i class="far fa-envelope"></i>
        <i class="fas fa-at"></i>
        <i class="fas fa-lock"></i>
        <i class="fas fa-home"></i>
        <i class="fas fa-heart"></i>
        <i class="far fa-heart"></i>
        <i class="fas fa-shopping-basket"></i>
        <i class="fas fa-sign-out-alt"></i>
        <i class="fas fa-edit"></i>
        <i class="far fa-edit"></i>
        <i class="fas fa-trash-alt"></i>
        <i class="fas fa-reply"></i>
        <i class="fas fa-paperclip"></i>
        <i class="fas fa-times"></i>
        <i class="fas fa-toggle-on"></i>
        <i class="fas fa-toggle-off"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="fas fa-check"></i>
        <i class="fas fa-phone-alt"></i>
        <i class="fas fa-calendar"></i>
        <i class="fas fa-clock"></i>
        <i class="fas fa-money-bill-wave"></i>

    </div>

    <div class="flex align-center">
        <p class="bold title m-r-1">Title</p>
        <p class="bold subtitle">Subtitle</p>
    </div>

    <div class="flex">
        <button type="button" class="btn btn-main m-r-1">Se connecter</button>
        <button type="button" class="btn btn-main-outline m-r-1">S'inscrire</button>
        <button type="button" class="btn btn-second m-r-1">Se déconnecter</button>
        <button type="button" class="btn btn-second-outline">S'inscrire</button>
    </div>

    <div>
        <p class="btn box-shadow">Modal box shadow</p>
    </div>

    <div class="overlay"></div>

</div>


{% endblock %}