{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/homepage.css') }}">
{% endblock %}

{% block title %}
    Acceuil - {{ parent() }}
{% endblock %}

{% block body %}


{# === HERO START === #}
<section class="hero">
    <div class="hero_text-content">
        <p class="hero_toptitle">Bienvenue sur</p>
        <h1>Loco Loco</h1>
        <p class="hero_text">Retrouvez tous les produits locaux & frais proche de chez vous !</p>
        <p class="hero_text"><i class="fas fa-arrow-circle-down"></i></p> 
    </div>
</section>
{# === HERO END === #}

{# === SEARCHBAR START === #}
    {# Créer un composant SEARCHBAR #}
{# === SEARCHBAR END === #}

{# === ABOUT US START === #}
{# === ABOUT US END === #}

{# === SHOW PRODUCTS START === #}
{# === SHOW PRODUCTS END === #}

{# === RATING START === #}
{# === RATING END === #}

{# === NEWSLETTER START === #}
{# === NEWSLETTER END === #}

{% endblock %} 