{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/homepage.css') }}">
{% endblock %}

{% block title %}
    Acceuil - {{ parent() }}
{% endblock %}

{% block body %}


{# === HERO START === #}
<section class="hero">
    <div class="hero__text-content">
        <p class="hero__toptitle">Bienvenue sur</p>
        <h1 class="bold home-title">Loco Loco</h1>
        <p class="marginbt-1">Retrouvez tous les produits locaux & frais proche de chez vous !</p>
        <p class="marginbt-1"><i class="fas fa-arrow-circle-down"></i></p> 
    </div>
</section>
{# === HERO END === #}

{# === SEARCHBAR START === #}
    {# Créer un composant SEARCHBAR #}
{# === SEARCHBAR END === #}

{# === ABOUT US START === #}
<section class="about">
    <div class="content">
        <h2 class="marginbt-3 subtitle">Amateur de produits frais et locaux ?</h2>
        <p class="marginbt-1">
            <i class=" m-r-1 fas fa-arrow-circle-right"></i>  <span class="subtitle bold">Loco Loco</span>
            veille à ce que vous puissiez trouver 
            chaussure à votre pied.
            <br>
            Que vous soyez chez vous, au travail ou en voyage,
            ce site <span class="bold">référence</span> 
            et <span class="bold">géo-localise</span> pour vous les <span class="bold">producteurs</span> et les points de vente proposant les produits au
            plus proche de chez vous.
        </p>
        <div class="deco-icons marginbt-1">
            <i class="fas fa-apple-alt"></i>
            <i class="fas fa-carrot"></i>
        </div>
    </div>
</section>
{# === ABOUT US END === #}

{# === RATING START === #}
<section class="rating">
    <div class="content">
        <h2 class="subtitle marginbt-3">Qu'en pensent nos utilisateurs ?</h2>
        <div class="rating__stars marginbt-1">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
        </div>
        <p>"Service de qualité exceptionnel, Loco Loco est une plateforme proche de ses clients"</p>
    </div>
</section>
{# === RATING END === #}

{# === NEWSLETTER START === #}
<section class="newsletter marginbt-1">
    <div class="flex n__content">
        <h3 class="subtitle">Newsletter</h3>
        <div class="n__input-icon">
            <input type="email" id="email" name="email" placeholder="Veuillez saisir votre email ici">
            <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
        </div>
        <button class="submit btn btn-second" type="submit" form="form" value="Submit">Ok</button>
    </div>
</section>
{# === NEWSLETTER END === #}

{% endblock %} 