/* === GENERAL STYLES === */
:root {
    --main: #8AD167;
    --main-bis: #6BA44F;

    --second: #EEB04F;
    --second-bis: #E99731;

    --light: #f6f6f6;
    --light-bis: #ffffff;

    --dark: #2f3640;
    --dark-bis: #545454;

    --success: #27ae60;
    --error: #c0392b;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: Roboto, sans-serif;
    font-size: 16px;

    background-color: var(--light);
}

a,
ul,
li {
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}
d-none {
    display :none;
}

button {
    border: none;
}





/* !! === CUSTOM CLASSES === !! */
.main-container {
    max-width: 1000px;

    margin: 0 auto;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.m-r-1 {
    margin-right: 1rem;
}

/* === TEXT CONTENT === */
.bold {
    font-weight: bold;
    letter-spacing: .1rem;
}

.home-title {
    font-size: 96px;
}

.title {
    font-size: 32px;
    letter-spacing: .2rem;
}

.subtitle {
    font-size: 24px;
    letter-spacing: .2rem;
}

/* === MARGIN === */

.marginbt-1 {
    margin-bottom: 1rem;
}

.marginbt-3 {
    margin-bottom: 3rem;
}

/* === BUTTONS === */
.btn {
    width: 15rem;

    border: none;
    cursor: pointer;

    font-size: 15px;
    font-weight: bold;

    padding: .5rem;
    border-radius: .5rem;

    transition: .2s;
}

.btn-main {
    background-color: var(--main);
    border-bottom: solid .2rem var(--main-bis);

    color: var(--light-bis);
}

.btn-main:hover {
    border-bottom: solid .2rem var(--main);

    color: var(--light-bis);
}

.btn-main-outline {
    background-color: transparent;
    border: solid .2rem var(--main);

    color: var(--main);
}

.btn-main-outline:hover {
    background-color: var(--main);

    color: var(--light-bis);
}

.btn-second {
    background-color: var(--second);
    border-bottom: solid .2rem var(--second-bis);

    color: var(--light-bis);
}

.btn-second:hover {
    border-bottom: solid .2rem var(--second);

    color: var(--light-bis);
}

.btn-second-outline {
    background-color: transparent;
    border: solid .2rem var(--second);

    color: var(--second);
}

.btn-second-outline:hover {
    background-color: var(--second);

    color: var(--light-bis);
}

/* ===  BOX SHADOW === */
.box-shadow {
    -webkit-box-shadow: 2px 6px 21px -3px rgba(0, 0, 0, 0.58);
    box-shadow: 2px 6px 21px -3px rgba(0, 0, 0, 0.58);
}

/* === MAIN === */

main {
    flex: 1;
    width: 100%;
}



/* === FORMS STYLE === */
/* ----------------------------------------------------------- */
.popup_container {
    color: var(--light);
    background-color: var(--main);

    display: flex;
    height: 80vh;
    width: 70vw;
    text-align: left;
    border-radius: .5rem;
    margin: auto;
    overflow: hidden;
}

.form_container {
    width: 375px;
    margin: auto;
    
}

.form_container form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.input-style {
    padding: 7px 4px;
    background-color: var(--main-bis);
    color: var(--light-bis);

    font-family: Roboto, sans-serif;
    font-size: 0.9rem;

    border: none;
    border-radius: 4px;

    appearance: none;
}

.input-style:focus {
    outline: none;
    background-color: var(--main-bis);
}

.input-style:focus::placeholder{
    color: transparent;
}

.input-style::placeholder{
    color: #222;
    transition: color 0.3s ease;
}

.custom-field{
    position: relative;
    font-size: 14px;
    padding-top: 20px;
    margin-bottom: 5px;
}

.custom-field .placeholder{
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color: var(--main);
    transition: 
        top 0.3s ease,
        font-size 0.3s ease,
        color 0.3s ease;
}

.custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder{
    top: 10px;
    font-size: 12px;
    color: var(--dark);
}

.custom-field input{
    border: none;
    appearance: none;
    outline: none;
}

/* === FOOTER === */

footer {
    margin-top: auto;
    font-size: 14px;
}

footer ul {
    justify-content: center;
    align-items: center;
}

footer ul li {
    margin: 0 1rem;
}


/* ------------------------------------------------------------------------------------------------ */

/* !! === MEDIA QUERIES === !! */

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */


@media screen and (max-width: 1280px) {
    .main-container {
        width: auto;
    }
}

@media (max-width: 1248px) {
    .form_container {
        width: 340px;
    }

    .input-style {
        width: 155px;
    }


}

@media (max-width: 1128px) {
    .form_container {
        width: 270px;
    }

    .input-style {
        width: 135px;
    }
}

@media (max-width: 1000px) {
    .form_container {
        width: 340px;
    }

    .input-style {
        width: 100%;
    }

}

@media (max-width: 759px) {
    .form_container {
        width: 300px;
    }

    .input-style {
        width: 140px;
    }
}


@media all and (max-device-width: 480px) {
    /* Vos règles CSS pour les mobiles ici */
}

@media (max-width: 300px) {

    .form_container {
        width: 260px;
    }

    .input-style {
        width: 110px;
    }
}

@media (max-height: 610px) {

    .form_container form {
        gap: 15px;
    }
}

@media (max-height: 544px) {
    .form_container form {
        gap: 10px;
    }
}