/* === GENERAL STYLES === */
:root{
    --main: #8AD167;
    --main-bis: #6BA44F;

    --second: #EEB04F;
    --second-bis: #E99731;

    --light: #f6f6f6;
    --light-bis: #ffffff;

    --dark: #2f3640;
    --dark-bis: #545454;

    --success: #27ae60;
    --error: #c0392b;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: Roboto, sans-serif;
    font-size: 16px;

    background-color: var(--light);
}

a, ul, li{
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}

button{
    border: none;
}



/* !! === CUSTOM CLASSES === !! */
.main-container{
    max-width: 1000px;

    margin: 0 auto;
}

.flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.m-r-1{
    margin-right: 1rem;
}

/* === TEXT CONTENT === */
.bold{
    font-weight: bold;
}

.home-title{
    font-size: 96px;
}

.title{
    font-size: 32px;
}

.subtitle{
    font-size: 24px;
}

/* === BUTTONS === */
.btn{
    width: 15rem;

    border: none;
    cursor: pointer;

    font-size: 15px;
    font-weight: bold;

    padding: .5rem;
    border-radius: .5rem;

    transition: .2s;
}

.btn-main{
    background-color: var(--main);
    border-bottom: solid .2rem var(--main-bis);

    color: var(--light-bis); 
}

.btn-main:hover{
    border-bottom: solid .2rem var(--main);

    color: var(--light-bis);
}

.btn-main-outline{
    background-color: transparent;
    border: solid .2rem var(--main);

    color: var(--main);
}

.btn-main-outline:hover{
    background-color: var(--main);

    color: var(--light-bis);
}

.btn-second{
    background-color: var(--second);
    border-bottom: solid .2rem var(--second-bis);

    color: var(--light-bis);
}

.btn-second:hover{
    border-bottom: solid .2rem var(--second);

    color: var(--light-bis);
}

.btn-second-outline{
    background-color: transparent;
    border: solid .2rem var(--second);

    color: var(--second);
}

.btn-second-outline:hover{
    background-color: var(--second);

    color: var(--light-bis);
}

/* ===  BOX SHADOW === */
.box-shadow{
    -webkit-box-shadow: 2px 6px 21px -3px rgba(0,0,0,0.58); 
    box-shadow: 2px 6px 21px -3px rgba(0,0,0,0.58);
}

/* ===  OVERLAY === */
.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}


/* === MAIN === */

main{
    flex: 1;
    width: 100%;
}

/* === HEADER === */
nav{
    background-color: var(--light);
    height: 80px;
    width: 100%;

}

.logo{
    margin-left: 1rem;

    color: var(--light-bis);
    background-color: var(--main);
    border-right: var(--main-bis) solid 10px;
    border-left: var(--main-bis) solid 10px;
    border-radius: 1rem;
    padding: .3rem 2rem;
    line-height: 80px;
}

nav ul{
    float: right;
    margin-right: 20px;
    align-items: center;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.log{
    padding: .4rem 2rem;
}




/* === FOOTER === */

footer{
    font-size: 14px;
}

footer ul{
    justify-content: center;
    align-items: center;
}

footer ul li{
    margin: 0 1rem;
}


/* ------------------------------------------------------------------------------------------------ */

/* !! === MEDIA QUERIES === !! */

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
@media screen and (max-width: 1280px)
{
    .main-container{
        width: auto;
    }
}

@media all and (max-device-width: 480px)
{
    /* Vos règles CSS pour les mobiles ici */
}