/* === HERO === */
.hero{
    height: 70vh;
    width: 100%;
    background: url(../images/background.png) no-repeat;
    background-size: cover;
    background-position-y: center;
    background-color: grey;
    color: white;
    text-align: center;

    position: relative;
}

.hero_text-content{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;

    margin: 0 auto;
    max-width: 500px;

    /* border: 1px solid red; */
}

.hero_toptitle{
    text-align: left;
    margin-left: 5.4rem;
    margin-bottom: -2rem;
}

.hero h1{
    font-size: 96px;
}

.hero_text{
    margin-bottom: 1rem;
}


/* === ABOUT US === */

.about{
    background-color: var(--main);
    color: var(--light-bis);
    padding: 2rem;
    text-align: center;
}

.about_content{
    max-width: 800px;
    margin: 0 auto;
}

.about_content-marginbt{
    margin-bottom: 1rem;
}

.fa-apple-alt, .fa-carrot{
    margin: 1rem;
}

/* ===  SHOW PRODUCTS === */
.show-products{
    height: 50vh;
    width: 100%;
    background: url(../images/products-teasing.png) no-repeat;
    background-size: cover;
    background-position-y: center;
    background-color: grey;

    color: var(--main);
    text-align: center;

    position: relative;
}

.show-products a{
    position: absolute;
    top: 4rem;
    left: 2rem;
}