/* === HERO === */
.hero{
    height: 70vh;
    width: 100%;
    background: url(../images/background.png) no-repeat;
    background-size: cover;
    background-position-y: center;
    background-color: grey;
    color: white;
    text-align: center;

    position: relative;
}

.hero__text-content{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;

    margin: 0 auto;
    max-width: 500px;

    /* border: 1px solid red; */
}

.hero__toptitle{
    text-align: left;
    margin-left: 5.4rem;
    margin-bottom: -2rem;
}

.hero h1{
    font-size: 96px;
}

.hero__text{
    margin-bottom: 1rem;
}


/* === ABOUT US === */

.about{
    background-color: var(--main);
    color: var(--light-bis);
    padding: 2rem;
    text-align: center;
}

.about__content{
    max-width: 800px;
    margin: 0 auto;
}

.fa-apple-alt, .fa-carrot{
    margin: 1rem;
}

/* === RATING === */

.rating{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
    color: var(--dark);
}

.rating__stars{
    color: var(--second);
}