.search-bar form{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70vw;
    margin: 0 auto; 

    background-color: var(--light);
    padding: 2rem;
    border-radius: .5rem;
}

.search-bar form div{
    display: flex;
    flex-direction: column;
    margin: auto;

    position: relative;

}

label{
    color: var(--dark);
    font-size: 0.8rem;
    position: absolute;
    top: -60%;
    left: 6%;
}

select{
    font-weight: bold;
}

input{
    padding-left: .5rem;
}


select,
input,
textarea{
    border: 1px solid var(--main-bis);
    outline: none;
    border-radius: .5rem;
    padding: .5rem;
}

#location-point{
    position: absolute;
    left: 30%;
    margin: auto;
    cursor: pointer;

    transition: 0.3s;
}

#location-point:hover{
    color: var(--main);
}


.btn-search{
    width: 10rem;
    padding: .5rem;
    border-radius: .5rem;
}