

.popup_container .register_img {
    height: 100%;
    width: 50%;
    background-image: url(../images/farm_portrait.jpg);
    background-size: cover;
    background-position: right;
    border-radius: 6px;
}

.popup_container .form_container h1 {
    margin-bottom: 20px;
    text-align: left;
}

.popup_container .form_container div:not(.user-password) {
    display: flex;
    flex-direction: column;
}

.popup_container .form_container .user-password {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.popup_container .form_container .user_selector {
    text-align: left;
    align-self: flex-start;
}



.popup_container .form_container .options {
    margin-top: 10px;
    height: 30px;
}

.popup_container .form_container .user_selector .options select {
    padding: 7px 4px;
    background-color: var(--main-bis);
    color: var(--light-bis);

    font-family: Roboto, sans-serif;
    font-size: 0.9rem;

    border: none;
    border-radius: 4px;
}

.popup_container .form_container .user_selector .options select[multiple] {
    padding: 7px 4px;
    background-color: var(--main-bis);
    color: var(--light-bis);

    font-family: Roboto, sans-serif;
    font-size: 0.9rem;

    border: none;
    border-radius: 4px;
    height: 3.5rem;
  }
.popup_container .form_container .user_selector .options select[multiple] option {
    font-family: Roboto, sans-serif;
  }

  
.popup_container .form_container .user_selector .options select:focus {
    border: none;
}


.popup_container .form_container .user_selector .options option {
    background-color: transparent;
    border: none;
}

.popup_container .form_container .user_selector .options option:focus {
    border: none;
}

.popup_container .form_container input[type=email] {
    width: 372px;
}



form label {
    text-align: left;
    font-weight: bold;
}

@media (max-width: 1248px) {
    .popup_container {
        height: 60vh;
    }

    .popup_container .form_container input[type=email] {
        width: 342px;
    }

}


@media (max-width: 1128px) {

    .popup_container .form_container h1 {
        margin-bottom: 10px;
        text-align: left;
        font-size: 1.7rem;
    }

    .popup_container .form_container input[type=email] {
        width: 300px;
    }

    form label {
        font-size: 0.9rem;
    }
}

@media (max-width: 1000px) {
    .popup_container {
        height: 88vh;
        width: 100vw;
    }

    .popup_container .register_img {
        border-radius: 0px;
    }

    .popup_container .form_container input[type=email] {
        width: 342px;
    }

    .box-shadow {
        box-shadow: none;
    }
}


@media (max-width: 759px) {

    .popup_container .form_container input[type=email] {
        width: 310px;
    }

    .popup_container .register_img {
        width: 45%;
    }
}

@media (max-width: 642px) {
    .popup_container .register_img {
        display: none;
    }
}

@media (max-width: 300px) {
    .popup_container .form_container input[type=email] {
        width: 260px;
    }

    .popup_container .form_container h1 {
        margin-bottom: 10px;
        text-align: left;
    }
}

