section {
    margin: auto;
}

.popup_container .register_img {
    height: 100%;
    width: 50%;
    background-image: url(../images/farm_portrait.jpg);
    background-size: cover;
    background-position: right;
    border-radius: 6px;
}

.popup_container .form_container h1 {
    margin-bottom: 20px;
}

.popup_container .form_container div:not(.user-password) {
    display: flex;
    flex-direction: column;
}

.popup_container .form_container .user-password {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.popup_container .form_container .user_selector {
    text-align: left;
    align-self: flex-start;
}

.popup_container .form_container .options {
    margin-top: 10px;
    height: 30px;
}

.popup_container .form_container .options button {
    background-color: transparent;
    color: var(--light);

    font-family: Roboto, sans-serif;
    font-size: 1rem;
    margin: auto;

    cursor: pointer;

    transition: 0.4s;
}

.popup_container .form_container .options button:first-of-type {
    padding-right: 6px;
    border-right: 1px solid var(--light);
}

.popup_container .form_container .options button:last-of-type {
    padding-left: 5px;
}

.popup_container .form_container .options button:hover {
    font-size: 1.1rem;
    font-weight: bold;
}

.popup_container .form_container input[type=email] {
    width: 372px;
}

form label {
    text-align: left;
    font-weight: bold;
}

@media (max-width: 1248px) {
    .popup_container {
        height: 60vh;
    }

    .popup_container .form_container input[type=email] {
        width: 342px;
    }

}


@media (max-width: 1128px) {

    .popup_container .form_container h1 {
        margin-bottom: 10px;
        font-size: 1.7rem;
    }

    .popup_container .form_container input[type=email] {
        width: 300px;
    }

    form label {
        font-size: 0.9rem;
    }
}

@media (max-width: 1000px) {
    .popup_container {
        height: 88vh;
        width: 100vw;
    }

    .popup_container .register_img {
        border-radius: 0px;
    }

    .popup_container .form_container input[type=email] {
        width: 342px;
    }

    .box-shadow {
        box-shadow: none;
    }
}


@media (max-width: 759px) {

    .popup_container .form_container input[type=email] {
        width: 310px;
    }

    .popup_container .register_img {
        width: 45%;
    }
}

@media (max-width: 642px) {
    .popup_container .register_img {
        display: none;
    }
}

@media (max-width: 300px) {
    .popup_container .form_container input[type=email] {
        width: 260px;
    }

    .popup_container .form_container h1 {
        margin-bottom: 10px;
    }
}

