.single{
    position: relative;
}

/* --- BANNIERE --- */
/* ------------------------------------------------------------- */
.single__banniere{
    height: 415px;
    z-index: 1;
}

.single__banniere img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* --- TOP LAYOUT --- */
/* ------------------------------------------------------------- */
.top-layout{
    /* border: 1px solid red; */
    z-index: 5;

    margin: 15rem 2rem;
    padding-bottom: 3rem;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

/* --- TAB --- */
/* ------------------------------------------------------------- */
.single__tab{
    margin: 8rem auto;

    background-color: var(--light);
    border-radius: .5rem;

    height: 80px;

    text-align: center;
    align-items: center;

    overflow: hidden;
}

.tab{
    padding: 2rem;
    width: 428px;
}

.active-tab{
    font-weight: bold;
    color: var(--light-bis);
    background-color: var(--main-bis);
}

/* --- CONTENT LAYOUT --- */
/* ------------------------------------------------------------- */
.content-layout{
    /* border: 1px solid blue; */

    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    margin: 15rem auto;
    margin-left: 380px;
}

/* --- PRODUCTS LIST --- */
/* ------------------------------------------------------------- */
.products-list{
    flex-wrap: wrap;
}

.product-item{
    border-radius: .5rem;
    margin: .5rem;
    padding: 1rem;
    flex-direction: column;
    width: 200px;

    align-items: center;
    justify-content: center;
}

.sold-out{
    filter: grayscale(80%);

    width: 200px;
}

.product-item .img__container{
    justify-content: center;
    width: 155px;
    height: 155px;
}

.product-item .img__container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.product-item .text-content{
    margin: 1rem;
    text-align: center;
}

.product-item button{
    padding: .5rem 1rem;
    border-radius: .5rem;
    width: 100%;
    
    align-items: center;
    justify-content: center;

}

/* --- CONTACT DETAILS --- */
/* ------------------------------------------------------------- */
.contact-details__container{
    background-color: var(--main-bis);
    border-radius: .5rem;
    overflow: hidden;
    color: var(--light-bis);
    margin-bottom: 3rem;

    justify-content: space-between;
}

.details{
    /* border: 1px solid red; */
    padding: 4rem 5rem;
}

.single__map{
    /* border: 1px solid blue; */
    background-color: var(--main);
    width: 500px;
    height: 400px;
}