.single{
    position: relative;
}

/* --- BANNIERE --- */
/* ------------------------------------------------------------- */
.single__banniere{
    height: 415px;
    z-index: 1;
}

.single__banniere img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* --- TOP LAYOUT --- */
/* ------------------------------------------------------------- */
.top-layout{
    /* border: 1px solid red; */
    z-index: 1;

    margin: 15rem 2rem;
    padding-bottom: 3rem;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

/* --- TAB --- */
/* ------------------------------------------------------------- */
.single__tab{
    margin: 8rem auto;

    background-color: var(--light);
    border-radius: .5rem;

    height: 80px;

    text-align: center;
    align-items: center;

    overflow: hidden;
}

.tab{
    padding: 2rem;
    width: 428px;
}

.active-tab{
    font-weight: bold;
    color: var(--light-bis);
    background-color: var(--main-bis);
}

/* --- CONTENT LAYOUT --- */
/* ------------------------------------------------------------- */
.content-layout{
    /* border: 1px solid blue; */

    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    margin: 15rem auto;
    margin-left: 380px;
}

/* --- PRODUCTS LIST --- */
/* ------------------------------------------------------------- */
.products-list{
    flex-wrap: wrap;
}

/* --- CONTACT DETAILS --- */
/* ------------------------------------------------------------- */
.contact-details__container{
    background-color: var(--main-bis);
    border-radius: .5rem;
    overflow: hidden;
    color: var(--light-bis);
    margin-bottom: 3rem;

    justify-content: space-between;
}

.details{
    /* border: 1px solid red; */
    padding: 4rem 5rem;
}

.single__map{
    /* border: 1px solid blue; */
    background-color: var(--main);
    width: 500px;
    height: 400px;
}

/* !! === MEDIA QUERIES === !! */
/* ------------------------------------------------------------- */
@media all and (max-device-width: 480px)
{
    .single__banniere{
        display: none;
    }

    .single__sidebar{
        margin-top: 4.5rem;
    }

    .top-layout{
        flex-direction: column;
    
        margin: 1rem;
        margin-bottom: 0;
        padding-bottom: 0;
    
        position: relative;
        align-items: center;
    }

    .single__tab{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;

        border: .5px solid var(--main-bis);
    }

    .content-layout{
        /* border: 1px solid blue; */
    
        position: relative;
        /* margin: 15rem auto; */
        margin: 0;
    }

    .products-list{
        flex-direction: column;
    }

    .single__store-content {
        text-align: center;
        align-items: center;
    }

    .contact-details__container{
        flex-direction: column;
    }

    .details{
        /* border: 1px solid red; */
        padding: 2rem 6rem;
    }
    
}