/* .form__container .form-img {
    height: 100%;
    width: 50%;
    background-image: url(../images/farm_portrait.jpg);
    background-size: cover;
    background-position: right;
    border-radius: 6px;
} */

.login{
    max-width: 1000px;
    margin: 3rem auto;
}

.form__container{
    border-radius: .5rem;
    overflow: hidden;
    background: var(--main);
    color: var(--light);
    justify-content: space-between;
}

.form-img{
    width: 50%;
}

.form-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-content__container{
    padding: 3rem;
}

.form-content{
    width: 400px;
    margin: 0 auto;
}

.title-content .sub{
    margin-left: 3rem;
    font-style: italic;
}

.btn-custom{
    /* width: 100%; */
    padding: .5rem 2rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
    font-weight: bold;
}

/* --- IF USER ALREADY CONNECTED --- */
/* ------------------------------------------------------------------- */
.user-already-connected{
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
    width: 400px;
}

/* --- IF USER IS NOT CONNECTED YET --- */
/* ------------------------------------------------------------------- */
.inputWithLabel{
    flex-direction: column;
}

.item{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.item label{
    margin-bottom: .5rem;
}

.item a{
    text-align: right;
    text-decoration: underline;
    
}

.submit{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}


/* --- MEDIA QUERIES --- */
/* ------------------------------------------------------------------- */

@media (max-width: 480px) {
    .form__container{
        flex-direction: column;
    }

    .form-img{
        display: none;
    }
}