/* .form__container .form-img {
    height: 100%;
    width: 50%;
    background-image: url(../images/farm_portrait.jpg);
    background-size: cover;
    background-position: right;
    border-radius: 6px;
} */

.login{
    max-width: 1000px;
    margin: 3rem auto;
}

.form__container{
    border-radius: .5rem;
    overflow: hidden;
    background: var(--main);
    color: var(--light);
}

.form-img{
    width: 50%;
}

.form-img img{
    width: 100%;
    height: 100%;
}

.form-content__container{
    padding: 3rem;
}

.title-content .sub{
    margin-left: 3rem;
    font-style: italic;
}

/* --- IF USER ALREADY CONNECTED --- */
/* ------------------------------------------------------------------- */
.user-already-connected{
    text-align: center;
}