{% extends 'base.html.twig' %}

{% block title %}
    Mes produits - {{ parent() }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>Mes produits - Edition</h1>
{% endblock %}