{% extends 'base.html.twig' %}

{% block title %}
    Mes produits - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/product-edit.css') }}">
{% endblock %}

{% block body %}
    <section class="edit">
        <h1 class="title-custom marginbt-1" >Gérer mes produits</h1>

        <div class="content flex">
        
        </div>
    </section>
{% endblock %}