{% extends 'base.html.twig' %}

{% block title %}Modifer un produit{% endblock %}

{% block body %}
    <div class="d-flex container flex-column">
        <h1 class="text-center">Modifier un produit</h1>
        {{ form_start(form) }}



        <button class="btn btn-outline-success w-25 align-self-end" >Ajouter</button>
        {{ form_end(form) }}

    </div>
{% endblock %}
