{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/product/product-card.css') }}">
{% endblock %}

{# --- PRODUCT CARD (AVAILABLE) START --- #}
<div class="product-card box-shadow flex">
    <div class="img__container flex">
        <img src="{{ asset('images/products/milk.png')}}" alt="product">
    </div>
    <div class="text-content">
        <h4 class="marginbt-1">{{ storeProduct.name }}</h4>
        <span>{{ storeProduct.price }} €</span>
    </div>
    <button class="btn-second flex">
        <a class="flex" href="#">
            Ajouter à mon panier
        </a>
    </button>
</div>
{# --- PRODUCT CARD (AVAILABLE) END --- #}