{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/product/product-card.css') }}">
{% endblock %}

{# --- PRODUCT CARD (SOLD-OUT) START --- #}
<div class="product-card sold-out box-shadow flex">
    <div class="img__container flex">
        <img src="{{ asset('images/tomatoes-photo.jpg')}}" alt="product">
    </div>
    <div class="text-content">
        <h4 class="marginbt-1">Titre</h4>
        <span>1€</span>
    </div>
    <button class="btn-second flex">
        <a class="flex" href="#">
            Rupture de stock
        </a>
    </button>
</div>
{# --- PRODUCT CARD (SOLD-OUT) END --- #}