{% extends 'base.html.twig' %}

{% block title %}
    {# "Boutique" à remplacer par le nom en dynamique de la vrai boutique #}
    Boutique - {{ parent() }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>Modifier ma boutique</h1>

{% endblock %}