{% extends 'base.html.twig' %}

{% block title %}
    Mes boutiques - {{ parent() }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>Mes boutiques</h1>

{% endblock %}
