{% extends 'base.html.twig' %}

{% block title %}Ajouter un un film{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <div class="d-flex container flex-column">
        <h1 class="text-center">Ajout d'un Film</h1>
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}


        <button class="btn btn-outline-success w-25 align-self-end" >Ajouter</button>
        {{ form_end(form) }}

    </div>
{% endblock %}