{% extends 'base.html.twig' %}

{% block title %}
    {# Catalogue - {{ parent() }} #}
{% endblock %}

{% block stylesheets %}
    {# <link rel="stylesheet" href="{{ asset('css/game-list.css') }}"> #}
{% endblock %}

{% block body %}
    <h1>S'inscrire</h1>

{% endblock %}